* {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("https://www.portafolio.co/negocios/empresas/razones-por-las-que-el-mercado-colombiano-es-atractivo-segun-panduit-563340");
}

div {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: beige;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: azure;
    padding: 50px;
    border-width: 20px;
    border-color: blanchedalmond;
    border-style: dotted;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}